@import "partials/config/variables";
@import "partials/base/base";
html, body {
  height: 100%;
  margin:0;
}
.main {
    &.wrapper {
        min-height: 100%;
        /* equal to footer height */
        margin-bottom: - $footerHeight;
        background:rgb(50, 67, 115);
        &::after {
        content: "";
        display: block;
        height: $footerHeight;
        }
        .section {
            min-height:400px;
        }
    }
}
.footer {
height: $footerHeight;
background: orange;
}
